$ cat .gitignore

# Can ignore specific files
.DS_Store
Thumbs.db

# Use wildcards as well
*~
*.swp

# Can also ignore all directories and files in a directory.
**/bin/Debug/*
**/bin/x86/Debug/*
**/bin/Release/*.pdb
**/bin/x86/Release/*.pdb
**/obj/*
**/exports/*
**/**/obj/*
**/Content/exports/*
**/Content/obj/*
**/Content/bin/*