$ cat .gitignore

# Can ignore specific files
.DS_Store
Thumbs.db

# Use wildcards as well
*~
*.swp

# Can also ignore all directories and files in a directory.
**/bin/Debug/*
**/bin/x86/Debug/*
**/bin/XBox 360/Debug/*
**/bin/Windows Phone/Debug/*
**/bin/Zune/Debug/*

**/bin/Release/*
**/bin/x86/Release/*
**/bin/XBox 360/Release/*
**/bin/Windows Phone/Release/*
**/bin/Zune/Release/*

**/PerformanceLogs/*


**/obj/*
**/exports/*
**/**/obj/*
**/Content/exports/*
**/Content/obj/*
**/Content/bin/*